{do_repl, false}.
{do_cert, true}.
{mode, quorum}.
{delay, 0}.

{repl_factor, 3}.
{quorum, 3}.
{log_size, 20}.

%% Clock types:
%%      physical - each partition proposes its physical time as the snapshot/prepare time of transacitons. Waiting is needed.
%%      fake_physical - the same as physical, but partition does not wait (which compromises correctness). This is used to show the overhead %%                     obtaining physical clock. 
%%      hybrid - the same as physical in proposing timestamps, but the partition also keeps a logical clock, so that when waiting is needed,
%%               it just updates its logical clock to avoid waiting.
%%      logical - each partition uses a single logical clock to propose snapshot/prepare time.
%%      aggr_logical - the same as logical, but the logical clock of partitions is updated when a transaction is aborted. This mechanism stri%%                 strives to keep the logical clocks of different partitions balanced.
%%      bravo - similar to hybrid, but instead fo always proposing the largest time when prepare, it only proposes logical clock. 
{clock_type, physical}.

%% if-precise controls the granuality of clocks, the main idea is to allow each updated key to keep metadata of the latest reader and use
%%  this metadata to propose prepare time. It only works for protocols that use logical clock to propose prepare time, so it does not work
%%  for hybrid clock, physical and fake_physical clock. 
{if_precise, false}.
